@charset "utf-8";

.wrapper {
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    /* background-color: bisque; */
}


/*============== header =============*/

/* logo-centermenu-rightmenu */
.logo-centermenu-rightmenu {
    text-align: left;
}

header .menu-logo-flexbox {
    display: flex;
    justify-content: space-between;
}

header .logo img {
    width: 149px; height: 50px;
}

header .centermenu li {
    float: left;
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
    color: #161a2f;
}

header .rightmenu li {
    float: left;
    margin: 10px;
    color: #3333;
    
}

header .rightmenu li:nth-child(1),
header .rightmenu li:nth-child(2) {
    padding-right: 15px ;
    border-right: 1px solid #3333;
}



/*============== main =============*/

article  {
    width: 100%;
    margin-bottom: 200px;

}


/* introduction */
.introduction h2 {
    margin-bottom: 30px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 95px;
    color: #161a2f;
}

.menu-list p {
    display: inline-block;
    width: 100px;
    border-top: 1px solid #161a2f;
    margin-bottom: 20px;
}

.menu-list div:nth-child(n):hover {
    border-color: white;
    transition: all ease 0.3s;
    background-color: #161a2f;
}

.menu-list a {
    line-height: 30px;
}

.menu-list a:hover {
    opacity: 0.9;
    color: white;
}


/* queens */
.queens {
    position: relative;
}

.queens img {
    width: 1920px; height: 597px;
    text-align: center;
    margin-top: 200px;
} 

.queens h1 img {
    width: 205px; height: 77px;
}

.queens .queens-logo-text {
    position: absolute;
    left: 358px; top: 251px;
}

.queens .queens-logo-text p {
    margin-top: 20px;
    line-height: 30px;
}


/* delivery-togo */
.delivery-togo {
    margin-top: 200px;
    text-align: center;
}

.dt-change-box {
    position: relative;
}

.delivery-flex-box {
    display: flex;
    justify-content: center;
}

.delivery img {
    width: 550px; height: 500px;
}

.delivery-text {
    margin-top: 86px;
    margin-left: 25px;
    text-align: left;
}

.delivery-text p {
    line-height: 30px;
    margin-top: 35px;
    margin-bottom: 80px;
}

.delivery-text a {
    padding: 10px;
    text-indent: 35px;
    background: url(../image/icon/toolbar.png) no-repeat 8px;
}

.delivery-togo-change a:nth-child(1) {
    position: absolute;
    top: 240px;
}

.delivery-togo-change a:nth-child(2) {
    position: absolute;
    top: 240px;
    right: 0;
}


/* homestorants */
.homestorants {
    position: relative;
    margin-top: 200px;
    
}

.homestorants .home-text div {
    position: absolute;
}

.homestorants .logo-text {
    display: flex;
    left: 358px; top: 35px;
    text-align: left;
    line-height: 120px;
    font-size: 14px;
}

.homestorants .logo-text h2 img {
    width: 206px; height: 81px;
}

.homestorants .contents-text {
    left: 358px; top: 250px;
    line-height: 60px;
    font-size: 48px;
    color: #161a2f;
}

.homestorants .contents-text p {
    color: #161a2f;
    font-size: 30px;
}

/* home-menu */
.best-menu {
    position: absolute;
    top: 450px; left: 680px;
}

.new-menu {
    position: absolute;
    top: 450px; left: 829px;
}

.freash-mealkit {
    position: absolute;
    top: 450px; left: 978px;
}

.frozen {
    position: absolute;
    top: 450px; left: 1124px;
}

.hm-img img {
    width: 120px;
    border-radius: 50%;
    filter: grayscale(100%) brightness(50%);
}

.hm-text {
    position: absolute;
    top: 50%; left: 25%;
    transform: translate(0%, -50%);
    text-align: center;
    color: rgb(197, 196, 196);
    
}

.home-menu h2 {
    color: rgb(197, 196, 196);
    font-size: 18px;
}

.home-menu p {
    font-size: 10px;
}

.home-menu a {
    display: inline-block;
}

.best-menu a {
    background-image: url(../image/homestorants/BestMenu.png) no-repeat 10px;
}

.best-menu a img:hover {
    filter: none;
}

.hm-img :hover  {

}


/* store */
.store {
    margin-top: 200px;
}

.store-flexbox {
    position: relative;
    display: flex;
    margin-top: 68px;
    
}

.store .guide img {
    width: 763px; height: 534px;
}

.store .guide-text-bg {
    width: 438px; height: 534px;
    transform: translateX(0);
    text-align: center;
    color: white;
    background-color: #161a2f;
}

.store .guide-text {
    margin-top: 35%;
    line-height: 40px;
}

.store .guide-text img {
    width: 95px; height: 93px;
}

.store button {
    color: black;
    border: 0;
    background-color: #ccc;
}

.store button:hover {
    transition: all ease 0.5s;
    color: black;
    border: 1px solid white;
    background: white;
}

/* info */
.info {
    margin-top: 200px;
    margin-bottom: 400px;
}

.info h2 {
    margin-bottom: 90px;
}

.info li {
    position: relative;
    float: left;
    margin-left: 64px;
    width: 26%;
    line-height: 15px;
    letter-spacing: -1px;
    /* background-color: aqua; */
}

.info li a {
    display: block;
    min-height: 100px;
    padding: 0 20px 0 95px;
    font-size: 13px;
}

.info li a strong {
    font-size: 16px;
}

.info .info-text {
    margin-top: 15px;
}

.info span {
    position: absolute;
    top: 0; left: 0;
    width: 80px; height: 80px;
}

.info .icon-1 {
    background: url(../image/icon/info-membership-bg.png)no-repeat;
}

.info .icon-2 {
    background: url(../image/icon/info-notice.png)no-repeat;
}

.info .icon-3 {
    background: url(../image/icon/info-cunstomer.png)no-repeat;
}




/*============== footer =============*/
footer {
    
    width: 100%; height: 300px;
    background-color: #161a2f;
}

.footer-wrap {
    position: relative;
    color: white;
    font-size: 12px;
}

.footer-right-flexbox {
    display: flex;
    align-items: center;
}


/* footer-right-menu */
.footer-right-menu ul {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.policy li {
    margin-top: 50px;
    padding: 0 10px;
    border-right: 1px solid white;
}

.policy li:last-child {
    border-right: 0;
}

.policy a {
    color: white;
}

/* footer-left-menu */
.footer-left-menu {
    margin-top: 50px;
}

.footer-left-flexbox {
    display: flex;
    align-items: center;
}

.footer-left-menu a {
    float: left;
    width: 108px; height: 32px;
    margin-right: 25px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    color: white;
    border: 1px solid white;
}

.footer-left-menu a:hover {
    transition: all ease 0.5s;
    color: black;
    background: white;
}

.footer-left-menu img {
    position: absolute;
    top: 40px; left: 285px;
}

.btn-cfc {
    margin-top: 0;
}



/* footer-text */
.footer-text-menu {
    margin-top: 60px;
    line-height: 24px;
}

.footer-text {
    font-size: 12px;
}



/* sns */
.sns-box {
    position: absolute;
    top: 175px; right: 0;
    display: flex;
}

.sns-box li {
    margin-left: 15px;
}

.sns-box li a {
    position: relative;
    width: 30%;
    padding: 30px;
    border-radius: 50%;
    background-color: white;
}

.sns a img {
    position: absolute;
    top: 15px; left: 15px;
    width: 50%; 
}

/* fixed-menu */
.fixed-menu {
    position: fixed;
    right: 100px;
    top: 20%;
}

.fixed-menu li a {
    position: relative;
    width: 63px; height: 63px;
    margin-bottom: 34px;
    text-align: center;
    font-weight: bold;
    line-height: 150px;
    color: #161a2f;
    border-radius: 50%;
    background-color: #161a2f;
}



.fixed-menu img {
    position: absolute;
    top: 15px; left: 15px;
    width: 50%; 
}